*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




@font-face {
  font-family: "Neue Montreal Medium";
  font-weight: 400;
  src: url(../fonts/NeueMontreal-Medium.otf);

}



body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}


.centered-section {
  background-color: #f2f2f2; /* Background color for the section */

}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns on computer */
  gap: 0px;
  max-width: 1700px; 
  margin: 0 auto; 
padding:0;
column-gap:50px;
}
  

  .centered-section .container__text {
  max-width: 1700px; 
  margin: 0 auto;
  padding:0;
}

.text__portfolio{
  font-family:"Neue Montreal Medium";
  font-weight:400;
  font-size:3.3em;
  line-height:1em;
  padding:0px !important;
  margin-bottom:20px!important;


}

.box {
  min-height: 640px;
  margin:0px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
  margin-block:0px 30px;
  margin-inline:0px;
  cursor:default;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0); /* White overlay with initial transparency */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s, transform 0.3s, background-color 0.3s; /* Added background-color transition */
}

.box:hover .overlay {
  opacity: 1;
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.7); /* White overlay with opacity on hover */
}

.box1 {
  background-image: url('../images/anna-demarinis_800.jpg'); /* Replace with the path to your image */
}

.box2 {
  background-image: url('../images/adam-chisnall_800.jpg'); /* Replace with the path to your image */
}

.box3 {
  background-image: url('../images/charlie-mac_800.jpg'); /* Replace with the path to your image */
}

.box4 {
  background-image: url('../images/jin-kim_800.jpg'); /* Replace with the path to your image */
}

.box5 {
  background-image: url('../images/kenya-sumter_800.jpg'); /* Replace with the path to your image */
}

.box6 {
  background-image: url('../images/jordan-dyck_800.jpg'); /* Replace with the path to your image */
}
.box7{
  background-image: url('../images/hanrin-cho_800.jpg'); /* Replace with the path to your image */
}
.box8{
  background-image: url('../images/kira-geiger_800.jpg'); /* Replace with the path to your image */
}
.box9 {
  background-image: url('../images/keith_800.jpg'); /* Replace with the path to your image */
}
.btn {
  margin: 5px; 
  border: none;
  background-color:transparent!important;
  cursor: pointer;
  color: black; /* Made the text black for contrast against the light background */
  position: relative;
  overflow: hidden;
  padding: 0; /* Removed padding */
  font-size: inherit; /* Use the same font size as the parent element */
  text-decoration: none;
  font-family: "Neue Montreal Medium";
  font-weight:400;
  font-style:normal;
  font-size:19px;
  text-transform:uppercase;
  letter-spacing:0.5px;
  margin-bottom:10px;
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2.5px;
  background-color:black!important;
  transition: width 0.3s;
}

.btn:hover::after {
  width: 100%;
  background-color:#191919!important;
  transition: 0.6s;
}

/* Media Queries for Tablet */
@media screen and (max-width: 900px) {
  .container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
  }
}

/* Media Queries for Mobile */
@media screen and (max-width: 550px) {
  .container {
      grid-template-columns: 1fr; /* 1 column on mobile */
  }
}